<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Song</title>
</head>
<body>
<h3>Add Song</h3>
<p>
    <a th:href="@{/song/list}">
        Back to song list
    </a>
</p>
<div id="form">
    <form th:action="@{/song/create}" th:object="${songForm}"
          method="POST" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" id="name" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td><label for="artist">Artist</label></td>
                <td><input type="text" id="artist" th:field="*{artist}"/></td>
            </tr>
            <tr>
                <td><label for="listMusic">List Music</label></td>
                <td>
                    <select id="listMusic" th:field="*{listMusic.id}">
                        <option th:each="list : ${lists}" th:value="${list.id}" th:text="${list.title}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="fileSong">File Song</label></td>
                <td><input type="file" id="fileSong" name="fileSong"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Save"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>